.app {
  padding: 40px 0;
  width: 900px;
  margin: 0 auto;
}

.letter .align-center {
  text-align: center;
}

.img-signature {
  width: 200px;
  border: 1px dashed #dcd7d7;
  padding: 10px 15px;
  text-align: center;
}
.img-signature img {
  margin: 5px 0;
  display: block;
  width: 200px;
}
.img-signature .empty {
  margin: 5px 0;
  height: 80px;
}